<header class = "jumbotron">
  <h1>BustleNot-Bustle</h1>
</header>

<div class="container-fluid">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'about'}}Learn more about the radness of the site creators!!{{/link-to}}
</footer>
